@import "scss/utils/_utils.scss";

.rates {
  background: linear-gradient(45deg, $brand-blue, $brand-red);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  transform: translateX(-1rem);
  width: calc(100% + 2rem);

  &.section {
    padding: 2.5rem 1rem;
  }

  h3 {
    color: $white;
    text-align: center;
  }

  &-blurb {
    color: $white;
    margin: 0 auto 3.5rem;
    max-width: 545px;

    @include bp(1115) {
      font-size: 1.25rem;
      margin: 0 auto 5.5rem;
    }
  }

  &-table {
    margin: 0 auto 1rem;
    max-width: 600px;
    width: 100%;
  }

  &-table-item {
    display: flex;
    color: $white;
    position: relative;
    justify-content: space-between;

    span {
      flex: 1;
    }

    // &::after {
    //   content: attr(data-price);
    //   position: absolute;
    //   right: 0;
    //   top: 50%;
    //   transform: translateY(-50%);
    // }
  }
}
