@import "../../scss/utils/_utils.scss";

.rates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  // transform: translateX(-1rem);
  width: 100%;
  max-width: 1496px;
  margin: 0 auto;

  &.section {
    padding: 2.5rem 0;
  }

  &-header {
    color: $brand-blue;
    transform: translateY(-80px);

    @include bp(550) {
      transform: translateY(-120px);
    }

    @include bp(1016) {
      transform: translateY(-80px);
    }
  }

  &-blurb {
    margin: 0;
    max-width: 545px;
    transform: translateY(-80px);
    // margin: 0 auto 2.5rem;
    // max-width: 545px;
    @include bp(550) {
      transform: translateY(-120px);
    }

    @include bp(945) {
      // transform: translateY(-200px);
      max-width: 517px;
    }

    @include bp(1115) {
      // transform: translateY(-100px);
      max-width: 700px;
    }

    @include bp(1016) {
      transform: translateY(-80px);
    }
  }

  &-photo {
    transform: translateY(-50px);
  }

  &-table {
    display: flex;
    flex-direction: column;
    margin: 0 auto 1rem;
    max-width: 669px;
    width: 100%;

    @include bp(1115) {
      flex-direction: row;
      justify-content: space-between;
      max-width: none;
    }
  }

  &-table-group {
    @include bp(1115) {
      margin: auto auto;
    }
  }

  &-table-item {
    display: grid;
    color: $brand-blue;
    font-weight: bold;
    grid-template-columns: 1fr 1fr 2fr;
    position: relative;

    @include bp(891) {
      white-space: nowrap;
    }

    span {
      flex: 1;

      &:nth-child(3),
      &:nth-child(1) {
        flex: 2;
      }
    }

    @include bp(1115) {
      & span:not(:last-child) {
        margin-right: 2rem;
      }
    }

    // &::after {
    //   content: attr(data-price);
    //   position: absolute;
    //   right: 0;
    //   top: 50%;
    //   transform: translateY(-50%);
    // }
  }

  .contact-number {
    color: $brand-blue;
  }
}
