@import "scss/utils/_utils.scss";

.services {
  background: #fff;
  // background-size: cover;
  // margin: 0 auto 3rem;
  max-width: 1496px;
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
  // width: 90%;

  &-header {
    color: #2d6eb6;
    transform: translateY(-40px);

    @include bp(945) {
      transform: translateY(-200px);
    }

    @include bp(1115) {
      transform: translateY(-20px);
    }
  }

  &-blurb.section-blurb {
    text-align: left;
    transform: translateY(-40px);
    // margin: 0 auto 2.5rem;
    // max-width: 545px;

    @include bp(945) {
      transform: translateY(-200px);
      max-width: 517px;
    }

    @include bp(1115) {
      transform: translateY(-20px);
      // font-size: 1.25rem;
      max-width: 700px;
    }
  }

  // Card styles
  &-card-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // max-width: 1115px;
    margin: 0 auto;
    text-align: left;

    @include bp(1115) {
      flex-direction: row;
    }
  }

  &-card {
    background: rgba($white, 0.75);
    // border: 1px solid $gray;
    margin: 0 0 3rem;
    position: relative;
    padding-top: 12rem;

    &:first-of-type {
      background: url("../img/clipboardpackagesPreview.jpeg") no-repeat;
      background-size: cover;
    }

    &:nth-of-type(2) {
      background: url("../img/logisticsPreview.jpeg") center center no-repeat;
      background-size: cover;

      @include bp(1115) {
        background-position: 73% center;
      }
    }

    &:nth-of-type(3) {
      background: url("../img/warehousePreview.jpeg") center center no-repeat;
      background-size: cover;
    }

    &:nth-child(odd) span {
      margin: 0 0 0 auto;

      @include bp(1115) {
        margin: auto;
      }
    }

    @include bp(480) {
      padding-top: 18rem;
    }

    @include bp(1115) {
      height: 550px;
    }

    & + & {
      @include bp(1115) {
        margin-left: 1rem;
      }
    }

    &-content {
      background: white;
      display: block;
      padding: 1rem;
      width: 90%;

      @include bp(480) {
        padding: 2rem;
      }

      @include bp(800) {
        width: 80%;
      }

      @include bp(945) {
        width: 50%;
      }

      @include bp(1115) {
        margin: auto;
        padding: 1rem;
        width: 90%;
      }
    }

    h4 {
      color: $brand-red;
      font-size: 1.25rem;
      margin-bottom: 0.25rem;
      text-align: left;
    }

    &-blurb {
      margin-bottom: 0;
    }
  }
}
