@import "scss/utils/_utils.scss";

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  outline: $gray dotted 2px;
  outline-offset: 0.05rem;
}

img:not([alt]) {
  border: 5px solid red;
}
