@import "scss/utils/_utils.scss";

.about {
  text-align: center;
  transform: translateY(-27px);
  margin-bottom: 3rem;

  @include bp(1115) {
    transform: translateY(-55px);
  }

  &-text {
    margin: 0 2rem 2rem auto;
    max-width: 340px;
    text-align: right;
    width: 89%;

    @include bp(800) {
      max-width: 430px;
    }

    @include bp(1115) {
      margin: 0 4rem 4rem auto;
      font-size: 2rem;
      max-width: 588px;
    }
  }

  &-text__bold {
    color: $brand-blue;
    display: block;
    font-weight: bold;
  }

  // Photos
  &-photo {
    display: inline-block;
    position: relative;

    span {
      background: $white;
      bottom: -2rem;
      left: 0;
      padding: 0.5rem;
      position: absolute;
      width: 90%;

      @include bp(880) {
        bottom: 0;
        padding: 1rem;
        width: 60%;
      }

      @include bp(1115) {
        width: 40%;
      }
    }
  }

  &-photo-secondary {
    display: none;
    position: absolute;
    right: -82px;
    width: 375px;
    bottom: -46px;

    @include bp(1245) {
      display: block;
    }
  }
}
