@import "../../scss/utils/_utils.scss";

.contact {
  background: linear-gradient(45deg, $brand-blue, $brand-red);
  width: 100%;
  min-height: 100vh;

  transform: translateX(-1rem);
  width: calc(100% + 2rem);

  @include bp(880) {
    transform: translateX(-4rem);
    width: calc(100% + 8rem);
  }

  a {
    display: block;
  }
  b {
    font-weight: bold;
  }

  &.section {
    max-width: none;
    padding: 2.5rem 1rem;

    @include bp(880) {
      padding: 3.5rem 4rem;
    }
  }

  &-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    max-width: 1496px;
    width: 100%;

    @include bp(940) {
      flex-direction: row;
      align-self: center;
      justify-self: center;

      &-right {
        margin: auto auto;
        max-width: 500px;
      }
    }

    &-right,
    &-left {
      width: 90%;
    }
  }

  .section-header {
    color: #fff;
  }

  &-blurb {
    color: #fff;
  }

  &-link {
    display: block;
    background: white;
    color: $brand-red;
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin: 4rem auto;

    @include bp(940) {
      margin: 4rem 0 1rem;
    }
  }

  &-review-link {
    color: $white;
    font-size: 1.85rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;

    span {
      text-decoration: underline;
    }
  }

  &-number,
  &-addy,
  &-privacy-link {
    display: block;
    color: $white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    // text-align: center;
  }

  &-privacy-link {
    text-decoration: underline;
  }

  &-addy span {
    display: block;
  }
}
