@import "scss/utils/_utils.scss";

.contact {
  background: linear-gradient(45deg, $brand-blue, $brand-red);
  width: 100%;
  min-height: 100vh;

  transform: translateX(-1rem);
  width: calc(100% + 2rem);

  &.section {
    padding: 2.5rem 1rem;
  }

  .section-header {
    color: #fff;
  }

  &-blurb {
    color: #fff;
  }
}
