@import "../../scss/utils/_utils.scss";
@import "_headerLogo.scss";
@import "_headerNav.scss";

.header-review-link {
  background: linear-gradient(45deg, $brand-blue, $brand-red);
  display: block;
  color: white;
  text-align: center;
  line-height: 1.75;
  font-size: 0.7rem;
  position: absolute;
  width: 100%;
  top: 0;

  @media (min-width: 520px) {
    font-size: 1rem;
  }
  @media (min-width: 740px) {
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
    line-height: unset;
  }

  b{
    font-weight: bold;
  }

  span {
    text-decoration: underline;
  }
}