@import "scss/utils/_base.scss";
@import "components/Header/_header.scss";
@import "components/Menu/_menu.scss";
@import "components/Hero/_hero.scss";
@import "components/About/_about.scss";

body {
  // background-color: #ffffff;
  // background-image: url("data:image/svg+xml,%3Csvg width='20' height='76' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%232d6eb6' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='1' cy='1' r='1'/%3E%3Ccircle cx='73' cy='73' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

#root,
.main-header,
.main-content {
  width: 100%;
}

.main-header {
  display: flex;
  padding: 1rem;

  @include bp(880) {
    padding: 4rem;
  }
}

.main-content {
  height: calc(100vh - 82px);
  padding: 1rem 1rem 0;

  @include bp(880) {
    height: calc(100vh - 228px);
  }
}
